<!-- wp:template-part {"slug":"header","theme":"day-camp","tagName":"header"} /-->

<!-- wp:pattern {"slug":"day-camp/banner"} /-->

<!-- wp:group {"tagName":"main","className":"day-camp-trek-section","style":{"spacing":{"blockGap":"var:preset|spacing|20","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"backgroundColor":"fourthaccent","layout":{"type":"constrained","contentSize":"80%"}} -->
<main id="trek-section" class="wp-block-group day-camp-trek-section has-fourthaccent-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:pattern {"slug":"day-camp/trek-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"day-camp/about-us-section"} /-->
<!-- wp:pattern {"slug":"day-camp/testimonials-section"} /-->
<!-- wp:pattern {"slug":"day-camp/faq-section"} /-->
<!-- wp:pattern {"slug":"day-camp/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"day-camp","tagName":"footer"} /-->